#include <windows.h> // include for version info constants
#include "resource.h"
#include "version.h"

#if EXPANSION == CATA
IDI_ICON_BIG ICON "icons\\cata_big.ico"
IDI_ICON_SMALL ICON "icons\\cata_small.ico"
#elif EXPANSION == WOTLK
IDI_ICON_BIG ICON "icons\\wotlk.ico"
IDI_ICON_SMALL ICON "icons\\wotlk.ico"
#elif EXPANSION == TBC
IDI_ICON_BIG ICON "icons\\tbc_big.ico"
IDI_ICON_SMALL ICON "icons\\tbc_small.ico"
#else
IDI_ICON_BIG ICON "icons\\vanilla_big.ico"
IDI_ICON_SMALL ICON "icons\\vanilla_small.ico"
#endif
IDI_ICON_CONFIG ICON "icons\\cogwheel.ico"

//
// SUPPORT FOR WINDOWS XP THEMES:
// THIS WILL MAKE THE PROGRAM USE THE COMMON CONTROLS
// LIBRARY VERSION 6.0 (IF IT IS AVAILABLE)
//
1 24 "WoW Launcher.exe.Manifest"

//
// TO CHANGE VERSION INFORMATION, EDIT PROJECT OPTIONS...
//
1 VERSIONINFO
FILEVERSION 3,0,0,0
PRODUCTVERSION 3,0,0,0
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "040904E4"
		 {
			 VALUE "CompanyName", "brotalnia"
			 VALUE "FileVersion", "3.0.0.0"
#if EXPANSION == CATA
			 VALUE "FileDescription", "WoW Launcher for Cataclysm"
#elif EXPANSION == WOTLK
			 VALUE "FileDescription", "WoW Launcher for WotLK"
#elif EXPANSION == TBC
			 VALUE "FileDescription", "WoW Launcher for TBC"
#else
             VALUE "FileDescription", "WoW Launcher for Vanilla"
#endif
			 VALUE "InternalName", "WoW Launcher"
			 VALUE "LegalCopyright", "Copyright © brotalnia 2019"
			 VALUE "LegalTrademarks", ""
			 VALUE "OriginalFilename", "WoW Launcher"
			 VALUE "ProductName", "WoW Launcher"
			 VALUE "ProductVersion", "1.0.0.0"
		 }
	 }
  BLOCK "VarFileInfo"
	 {
		 VALUE "Translation", 0x0409, 1252
	 }
}


